/* * {
  box-sizing: border-box;
} */

.App {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 5rem
}

#intro {
  margin-left: 3.5rem;
}

section {
  /* padding-top: 2rem; */
  padding: 2rem 1.5rem 0 1.5rem;
  border: 2px solid  #000;
}

h1 {
  font-size: 2rem
}

ul {
  list-style-image: url("./components/air.svg");
  padding-left: 7rem;
 }

li {
  position: relative;
  padding: 1.5rem;
  padding-left: 5rem;
  
}

 li .line {
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  left: -1.5rem;
  top: 2rem;
  background-color: #000;
  /* z-index: 1 */
}

/*
li .circle {
      display: block;
      position: absolute;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      left: calc(2rem - .75rem);
      top: 1rem;
      border-radius: 100%;
      background-color: #fff;
      border: 1px solid #000;
      z-index: 2;
      text-align: center;
      
}

li:first-of-type .line {
  height: calc(100% - 1rem);
  top: 1rem;
} */

/* li:last-of-type .line {
  height: calc(100% - (1rem + 10px));
} */
